labs2014/howto_make_lab_illustrations.mov
*.NEF
labs2014/Node\ Serial\ Lab/node_modules/*
videos_code_samples/NodeSerialLesson/node_modules/*
*.logicdata

*.mov
*.DS_Store
labs2014/Node Serial Lab/package-lock.json
labs2014/.vscode/c_cpp_properties.json
labs2014/.vscode/arduino.json
*.vscode/*
